<!-- ============================================================== -->
<!-- Start Search Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <select class="form-control" name="fiter_types">
                        <option *ngFor="let type of fiter_types">
                            {{type}}
                        </option>
                    </select>
                <input #input (keyup)="filterDeviceByLocation( input.value )" type="text" class="form-control" placeholder="Search devices for location">
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Search Content -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Loading Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="class alert-warning text-center">
            <strong>Loading</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Please wait</span>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Loading Content -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Main Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Devices ( <small>{{size}}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 20%">ID</th>
                            <th class="text-center">LOCATION</th>
                            <th class="text-center">MAC ADDRESS</th>
                            <th class="text-center">CONNECTED</th>
                            <th class="text-center">PARENT LOCATION</th>
                            <th class="text-center">UPDATED AT</th>
                            <th class="text-center">SIGNAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of devices">
                            <td class="text-center">
                                <a [routerLink]="['/devices', device.id ]">{{device.id}}</a>
                            </td>
                            <td class="text-center">{{device.location}}</td>
                            <td class='text-center'>
                                {{device.mac_address}}
                            </td>
                            <td class="text-center">
                                <span [className]="device.connected ? 'round round-success text-center' : 'round round-danger text-center'">
                                    <div data-icon='f' class='linea-icon linea-basic' ngbTooltip="Tooltip on top"></div>
                                </span>
                            </td>
                            <td class="text-center">{{device.parent_location}}</td>
                            <td>{{device.updated_at| date: 'yyyy-mm-dd'}}</td>
                            <td>{{device.signal}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-6">
                        <div class="dataTables_info" id="example23_info" role="status" aria-live="polite">
                            Showing {{page}} to {{total_page}} of {{total_elements}} entries
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button (click)="page!=1 && changeSince(-1)" class="btn btn-secondary">
                                Previous
                        </button>
                        <button (click)="changeSince(1)" class="btn btn-secondary">
                                Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>